:root{
  //Couleurs de base
  --color-white: #fff;
  --color-black: #000;

  //Couleurs du projet
  --color-link: #202C4A;
  --color-link-visited: #E5E5E5;
  --color-link-hover: #E53847;
  --color-link-active: #E5AA38;
  --color-link-focus: #E57638;

  --color-bg-primary: #fff;
  --color-bg-secondary: #F0F0F0;
  --color-bg-tertiary: #E5E5E5;

  --color-text-primary: #000;
  --color-text-secondary: #fff;
}